body {
    width: 100%;
    background-color: darkseagreen;
}
div {
    width: 60%;
    background-color: burlywood;
    margin: auto;
    overflow: hidden;
    border: solid 3px green;
}
form {
    width: 100%;
    height: 730px;
    background-color: burlywood;
}
.textbox {
    width: 98%;
    height: 650px;
    margin: 5px;
}
.inputbox {
    width: 90%;
    background-color: white;
    margin: 5px;
    height: 50px;
    float: left;
}
.btn {
    height: 55px;
    width: 7%;
    margin: 5px;
    float: right;
}
